<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206844954617-2cj6r052808dedcn475dktcohgomdufk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206844954617-2cj6r052808dedcn475dktcohgomdufk</string>
	<key>API_KEY</key>
	<string>AIzaSyAfYbI4RDv700vpcFI-NaWI8Clm-Xkhjg4</string>
	<key>GCM_SENDER_ID</key>
	<string>206844954617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-c5956</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-c5956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206844954617:ios:123da48519f937892a1f28</string>
</dict>
</plist>